<?xml version="1.0" ?>
<robot name="house_2" version="1.0">
  <link name="house_2"/>
  <joint name="Bed_2_0_joint" type="fixed">
    <origin xyz="0.60712810754776 -1.0345016956329345 0.33712294697761536" rpy="0.0 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Bed_2_0"/>
  </joint>
  <link name="Bed_2_0">
    <visual name="SM_Bed_2_0_Bed_20">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Bed_20.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="BasketBall_2_1_joint" type="fixed">
    <origin xyz="0.7480463981628418 -1.2764203548431396 0.6557224988937378" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_2"/>
    <child link="BasketBall_2_1"/>
  </joint>
  <link name="BasketBall_2_1">
    <visual name="SM_BasketBall_2_1_RobothorBasketballRhodeIslandNoveltyV">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/RobothorBasketballRhodeIslandNovelty.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="TennisRacket_2_2_joint" type="fixed">
    <origin xyz="0.46663203835487366 -1.2740325927734375 0.5582226514816284" rpy="0.0 0.0 3.1415927410125732"/>
    <parent link="house_2"/>
    <child link="TennisRacket_2_2"/>
  </joint>
  <link name="TennisRacket_2_2">
    <visual name="SM_TennisRacket_2_2_TennisRacquet_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/RobothorTennisRacquetSpeedKids.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Pillow_2_4_joint" type="fixed">
    <origin xyz="0.7480462789535522 -0.33343952894210815 0.6035908460617065" rpy="0.0 0.0 3.1415927410125732"/>
    <parent link="house_2"/>
    <child link="Pillow_2_4"/>
  </joint>
  <link name="Pillow_2_4">
    <visual name="SM_Pillow_2_4_Pillow_3">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Pillow_3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Dresser_2_1_joint" type="fixed">
    <origin xyz="2.9060000104904176 -0.18013640642166137 0.3496258854866028" rpy="0.0 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Dresser_2_1"/>
  </joint>
  <link name="Dresser_2_1">
    <visual name="SM_Dresser_2_1_RobothorDresserRastV">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/RobothorDresserRast.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="AlarmClock_2_0_joint" type="fixed">
    <origin xyz="2.9832377433776855 -0.178035169839859 0.8115434646606445" rpy="0.0 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="AlarmClock_2_0"/>
  </joint>
  <link name="AlarmClock_2_0">
    <visual name="SM_AlarmClock_2_0_AlarmClock_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/AlarmClock_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Pencil_2_3_joint" type="fixed">
    <origin xyz="3.0611588954925537 -0.14212989807128906 0.7101779580116272" rpy="0.0 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Pencil_2_3"/>
  </joint>
  <link name="Pencil_2_3">
    <visual name="SM_Pencil_2_3_RobothorPencilAmazonBasicsV">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/RobothorPencil.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="HousePlant_2_2_0_joint" type="fixed">
    <origin xyz="2.247522264331052 -0.19363019439122842 0.42520612478256226" rpy="0.0 0.0 -2.2693772315979004"/>
    <parent link="house_2"/>
    <child link="HousePlant_2_2_0"/>
  </joint>
  <link name="HousePlant_2_2_0">
    <visual name="SM_HousePlant_2_2_0_Houseplant_18">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Houseplant_18.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="GarbageCan_2_3_joint" type="fixed">
    <origin xyz="0.26514276266098025 -4.5710991754531864 0.3115749955177307" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_2"/>
    <child link="GarbageCan_2_3"/>
  </joint>
  <link name="GarbageCan_2_3">
    <visual name="SM_GarbageCan_2_3_Bin_26">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Bin_26.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Door_0_joint" type="fixed">
    <origin xyz="3.242 -0.57900342175668 1.0371885299682617" rpy="0.0 0.0 1.5707963705062866"/>
    <parent link="house_2"/>
    <child link="Door_0"/>
  </joint>
  <link name="Door_0">
    <visual name="SM_Door_0_Doorway_9">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Doorway_9.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_0_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Wall_0"/>
  </joint>
  <link name="Wall_0">
    <visual name="Wall_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_1_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Wall_1"/>
  </joint>
  <link name="Wall_1">
    <visual name="Wall_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_2_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Wall_2"/>
  </joint>
  <link name="Wall_2">
    <visual name="Wall_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="Wall_3_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="1.5707963705062866 0.0 0.0"/>
    <parent link="house_2"/>
    <child link="Wall_3"/>
  </joint>
  <link name="Wall_3">
    <visual name="Wall_3_0">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_3_0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_3_1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_3_1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="Wall_3_2">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="file://house_2/meshes/stl/Wall_3_2.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>