<?xml version="0.0" ?>
<robot name="plane">
  <link name="planeLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="9.4 2.5 0"/>
      <geometry>
				<mesh filename="plane.obj" scale="0.64 0.17 0.4"/>
      </geometry>
       <material name="white">
        <color rgba="0.89 0.72 0.56 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="9.4 2.5 0"/>
      <geometry>
				<mesh filename="plane.obj" scale="0.64 0.17 0.4"/>
      </geometry>
    </collision>
  </link>
</robot>

