<launch>
  <arg name="robot" default="pr2" />
  <arg name="use_knowrob" default="false"/>

<node pkg="kdl_ik_service" type="start_ros_server.py" name="kdl_ik_service" output="screen" />

  <!-- PR2 URDF -->
  <group if="$(eval robot == 'pr2')">
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch"/>
    <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch"/>
    <param name="robot_description"
           textfile="$(find pycram)/resources/robots/pr2.urdf"/>
  </group>
  <!-- Boxy -->
  <group if="$(eval robot == 'boxy')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/boxy.urdf"/>
  </group>
  <!-- Tiago -->
  <group if="$(eval robot == 'tiago_dual')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/tiago_dual.urdf"/>
  </group>
  <!-- UR5 -->
  <group if="$(eval robot == 'ur5')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/ur5_robotiq.urdf"/>
  </group>
  <!-- Donbot -->
  <group if="$(eval robot == 'donbot')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/iai_donbot.urdf"/>
  </group>

  <!-- HSR -->
  <group if="$(eval robot == 'hsrb')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/hsrb.urdf"/>
  </group>

  <!-- stretch -->
  <group if="$(eval robot == 'stretch')">
    <param name="robot_description"
              textfile="$(find pycram)/resources/robots/stretch_description.urdf"/>
  </group>


  <!-- Use Knowrob -->
  <group if="$(eval use_knowrob)">
      <include file="$(find knowrob)/launch/knowrob.launch"/>
  </group>

<!--
  In ROS Noetic the xacro file for boxy doesnt seem to work, as a quick fix use the line above
  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />
-->
<!--
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
-->

</launch>
