<launch>

    <arg name="upload" default="true" />


  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="robot_state_publisher" output="screen">
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher"
    name="joint_state_publisher">
        <param name="use_gui" value="True"/>
  </node>

  <!-- PR2 URDF -->
  <group if="$(arg upload)">
    <param name="robot_description"
           command="$(find xacro)/xacro.py
                    '$(find pr2_description)/robots/pr2.urdf.xacro'"/>
  </group>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true"/>

</launch>
