<launch>
  <arg name="use_knowrob" default="false"/>

<node pkg="kdl_ik_service" type="start_ros_server.py" name="kdl_ik_service" output="screen" />

  <!-- PR2 URDF -->
  <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_larm_node.launch"/>
  <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch"/>
  <param name="robot_description"
         textfile="$(find pycram)/resources/pr2.urdf"/>
 

  <!-- Use Knowrob -->
  <group if="$(eval use_knowrob)">
      <include file="$(find knowrob)/launch/knowrob.launch"/>
  </group>

<!--
  In ROS Noetic the xacro file for boxy doesnt seem to work, as a quick fix use the line above
  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />
-->
<!--
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
-->

</launch>
